<mat-card class="single-card-container">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>First and last name</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="single-card-content">
    <p>Estimated value: 100$</p>

    <p>Team name</p>
    <p>Team number</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update Card</button>
    <button mat-button>Delete Card</button>
  </mat-card-actions>
</mat-card>
