<mat-card class="single-card-container">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> First and last name: </mat-card-title>
    <mat-card-title>
      {{ inputData.firstName }} {{ inputData.lastName }}
    </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content class="single-card-content">
    <p>
      Estimated value:
      {{ inputData.estimatedValue ? inputData.estimatedValue : 0 }}
    </p>

    <p>Team name: {{ inputData.playersTeam }}</p>
    <p>Team number: {{ inputData.playersNumber }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="margin-right: 10px">
      Update Card
    </button>
    <button mat-raised-button color="warn" style="margin-right: 10px">
      Delete Card
    </button>
  </mat-card-actions>
</mat-card>
