.single-card-container {
  max-width: 400px;
  margin-bottom: 50px;
  .single-card-content {
    margin-top: 20px;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
