<p>The application was made so it would display a list of Sport cards</p>
<p>The user is able to create , update and delete a card</p>
<p>
  In the upper part of the home page the user could see the sum of all estimate
  values of players
</p>
<p>
  By clicking on button to create a new card or updaing the old one , a dialog
  pop ups. All the field are required except the estimate value, if user do not
  enter value there, the card will get the estimate default value of 0
</p>
<p>
  After clicking the new card would dislay under the the last card on the screen
</p>
<p>
  In the creation of the app beside the Angular the Angular Material, NgRx with
  Entity Adapter was used.
</p>
